services:
  redis:
    image: redis:7.4-alpine
    container_name: my-market-redis
    ports:
      - "6379:6379"

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.5
    container_name: my-market-keycloak
    command: ["start-dev", "--import-realm"]
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
    ports:
      - "8090:8080"
    volumes:
      - ./keycloak/realm-my-market.json:/opt/keycloak/data/import/realm-my-market.json

  payments-service:
    build:
      context: ./payments-service
      dockerfile: Dockerfile
    container_name: my-market-payments
    ports:
      - "8081:8081"
    environment:
      - SERVER_PORT=8081
      - PAYMENTS_INITIAL_BALANCE=10000
      - OAUTH2_ISSUER_URI=http://keycloak:8080/realms/my-market
      - PAYMENTS_ALLOWED_CLIENT_ID=market-app
    depends_on:
      - keycloak

  market-app:
    build:
      context: ./market-app
      dockerfile: Dockerfile
    container_name: my-market-app
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - PAYMENTS_BASE_URL=http://payments-service:8081
      - PAYMENTS_TIMEOUT=500ms
      - OAUTH2_ISSUER_URI=http://keycloak:8080/realms/my-market
      - OAUTH2_CLIENT_ID=market-app
      - OAUTH2_CLIENT_SECRET=market-app-secret
    depends_on:
      - redis
      - payments-service
      - keycloak
