services:
  redis:
    image: redis:7.4-alpine
    container_name: my-market-redis
    ports:
      - "6379:6379"

  payments-service:
    build:
      context: ./payments-service
      dockerfile: Dockerfile
    container_name: my-market-payments
    ports:
      - "8081:8081"
    environment:
      - SERVER_PORT=8081
      - PAYMENTS_INITIAL_BALANCE=10000

  market-app:
    build:
      context: ./market-app
      dockerfile: Dockerfile
    container_name: my-market-app
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
      - PAYMENTS_BASE_URL=http://payments-service:8081
      - PAYMENTS_TIMEOUT=500ms
    depends_on:
      - redis
      - payments-service
